

@font-face {
    font-family: 'Pacifico';
    src: url('../webfonts/Pacifico-Regular.woff');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}

.nav-item {
    margin-right: 2rem;
    text-transform: uppercase;
    font-size: medium;
}
.nav-link {
    color: #000000;
    font-weight: 600;
}
.nav-link:hover {
    color: #3e54d3;
    transition: .4s ease;
}


.navbar-brand {
    font-family: 'Pacifico';
    font-weight: bold;
    color: #3e54d3;
    font-size: 2rem;
}
section,
footer {
    padding: 4rem 0;
}


/*! main */

section.main {
    background: url('../images/bg/header-bg.png') no-repeat center center / cover;
}



/* Button */
.download {
    height: 50px;
    width: 150px;
    outline: none;
    border: 2px solid transparent;
    background: #3e54d3;
    border-radius: 60px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: .4s ease;
}
.download:hover {
    background: transparent;
    border:2px solid #3e54d3;
    color:#3e54d3;
}


.primary-button {
    height: 45px;
    width: 150px;
    outline: none;
    border: 2px solid #3e54d3;
    border-radius: 60px;
    text-transform: uppercase;
    color: #3e54d3;
    font-weight: bold;
    font-size: 15px;
    background: transparent;
    text-decoration: none;
    transition: .5s ease;
}
.primary-button:hover {
    color: white;
    background: #4f66e4;
    transition: all .5s ease;
}
.right-img img {
    width: 80%;
}

.left-img img {
    width: 90%;
}

.right-img,
.left-img {
    text-align: center;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(43, 43, 112);
}
.peragraph {
    font-size: 18px;
    color: rgb(75, 61, 61);
    font-weight: 500;
    margin: 2rem 0;
}


.buttons {
    display: flex;
}
.buttons button:first-child {
    margin-right: 1rem;
}

.secondary-button {
    height: 45px;
    width: 150px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 60px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background: #3e54d3;
    text-decoration: none;
    transition: .5s ease;
}
.secondary-button:hover {
    background: transparent;
    border:2px solid #3e54d3;
    color:#3e54d3;
}



/* learn-online */

.learn-online {
    background: url('../images/bg/biography-bg.png') no-repeat center center / cover;
}

.span {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(75, 61, 61);
}
.learn-online .secondary-button {
    width: 170px
}

/* Tutor */

.tutor {
    background: url('../images/bg/footer-bg.png') no-repeat center center / cover;
}


.tutor .profile-img {
    width: 200px;
    height: auto;
}

.tutor .tutors {
    padding: 3rem 0;
}

.tutor .tutors .name {
    font-size: 1.5rem;
    font-weight: 600;
}

/* pricing */

.pricing {
    background: url('../images/bg/biography-bg.png') no-repeat center center / cover;
}

.pricing .title {
    font-size: 18px;
    font-weight: 600;
}

.pricing .monthly {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0;
}
.pricing .list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.pricing .list li {
    margin-bottom: 5px;
    font-size: 17px;
    color: rgb(75, 61, 61);
    font-weight: 500;
}
.pricing .primary-button {
    margin: 1.3rem auto;
}
.pricing .secondary-button {
    margin: 1.3rem auto;
}

.pricing .secondary-button,
.pricing .primary-button {
    width: 120px
}
.card-1 {
    background: rgb(209, 236, 234);
    box-shadow: 0 0 8px 4px rgba(170, 170, 170, .5);
}
.pricing .card {
    transition: .4s ease;
}
.pricing .card:hover {
    box-shadow: 0 0 8px 4px rgba(170, 170, 170, .5);
}


/* Footer */

.footer {
    text-align: center;
    background: url('../images/bg/biography-bg.png') no-repeat center center / cover;
}

.footer h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.footer p {
    margin: 1.5rem 0;
}

.footer .socials {
    margin: 1.5rem 0;
}

.footer .copyright {
    text-align: center;
    color: gray
}
.footer .socials {
    margin: 1rem auto;
    font-size: 2.5rem;
}

.footer .socials a {
    transition: .3s ease;
}


/* Name */

.name {
    background: url('../images/bg/latest-work-bg.png') no-repeat center center / cover;
}

/* Responsive */

@media (max-width: 572px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .buttons button:first-child {
        margin-bottom: 1rem;
    }

}